# Python
__pycache__/
*.py[cod]
*.so
.Python
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
*.code-workspace

# Project specific
data/*.csv
deploy_temp/
temp_requirements.txt

# Model files
models/*.pkl
!models/.gitkeep
